<h1 class="title">{{title}} </h1>

<!-- <h2>PIPES</h2>
<app-pipes></app-pipes> -->

<!-- <h2>SERVICES</h2>
<app-emplyoee></app-emplyoee> -->

<!-- <h2>Routing And Navigation</h2>
  <nav>
    <button><a routerLink="teachers-list" routerLinkActive="active">Teachers</a></button>
    <button><a routerLink="students" routerLinkActive="active">Students</a></button>
    <button><a routerLink="lazy-feature" routerLinkActive="active">LazyFeature</a></button>
  </nav>
<router-outlet></router-outlet> -->

<h2>Observable</h2>
<app-observable></app-observable>
